a {
text-decoration: none;
color: black; 
}

a:hover {
    color: grey;
    text-decoration: none;
}

#back {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 10px;
}

.pick {
  width: 400px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

h2 {
  padding-top: 20px;

  text-align: center;
  font-style: italic;
  font-size: 18px;
  background-color: white;
  font-weight: 800;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.buttonHolder{ 
  text-align: center; 
}

#more {
  margin-left: 25px;
  border-width: 2px;
}

.fa-heart{
    color: red;
}

.wish {
  height: 130px;
  width: 90px;
}

#title {
  font-size: 16px;
  font-family: "Trebuchet MS", Helvetica, sans-serif; 
  text-align: left;


}

#loginPOP {
  background-color: #E6E6E6;
  
}

.movie {
  width: 300px;
  height: 400px;
  border-radius: 8px;
  align-items: center;
}

.nav-item {
  padding-top: 10px;
}


#top {
    color: #ff66a3;
}

.fa-user {
    color: #F6CEF5;
}

.navbar{
    background-color: #e3f2fd;
}

.top {
    margin-left: 30px;
    margin-right: 0px;
    max-width: 1290px;
}

.plotbox {
    position: relative;
}


.plotbox:hover .overlay {
  opacity: 0.8;
}

.text {
  color: black;
  font-size: 12px;
  width: 300px;
  height: 400px;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-style: italic;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 400px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  font-weight: 800;
}


#food-img {
  height: 200px;
  width: 300px;
}