a {
text-decoration: none;
color: black; 
}

.fa-heart{
    color: red;
    size: 2px;
}


.top {
    size: 3px;
    color: #ff66a3;
}

.navbar{
    background-color: #e3f2fd;
}

.top {
    margin-left: 30px;
    margin-right: 150px;
}

.plotbox {
    position: relative;
}


.plotbox:hover .overlay {
  opacity: 0.8;
}

.text {
  color: black;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  font-weight: 900;
}
