#body-img {
  background-image: url('/static/img/rawpixel-743124-unsplash.jpg');
  background-size: cover;
  
}


#body-img2 {
  background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)),url('/static/img/rawpixel-743124-unsplash.jpg');

  background-size: cover;
 
}

.home-text {
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: 'Amatic SC', cursive;
}


.fa-utensils{
  color: black;
}

.fa-hand-scissors {
  color: black;
}



#brand {
  font-family: 'Amatic SC', cursive;
  color: black;
  font-size: 40px;
  font-weight: bold;
 
}


#first-line {
  font-size: 50px;
  font-weight: bold;

}

.btn-text {
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  font-weight: 600;
}

.pops {
  font-size: 20px;
  font-family: 'Amatic SC', cursive;
  font-weight: 600;
}

.form-control:focus {
    color: #495057;
    background-color: transparent;
    border-color: black;
    outline: none;
    box-shadow: none;
}

.pageone {
  margin-top: 130px;
}

#second-line {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Amatic SC', cursive;
}

.logout {
  padding-top: 8px;
  font-size: 25px;
}

.forma{
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  border-radius: 0;
  border-bottom-color: black;
  background: transparent;
}

.modal-dialog {
  width: 400px;
}

.modal-body {
   /*background-image: url(path/to/image);*/
  background-color: #F7EAE8;
}

.modal-header {
  background-color: #F7EAE8;
}

.modal-footer {
  background-color: #F7EAE8;
}

a:hover {
    color: grey;
    text-decoration: none;
}

/*.navbar {
  border-bottom: 1px solid black;
}*/

.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;

}


#back {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 10px;
}

.mtitle {
  height: 48px;
}

.ptitle {
  height: 72px;
  margin-bottom: 5px;
}

.pick {
  width: 400px;
  margin: 0 auto;
}

.labell {
  font-size: 18px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

.label {
  font-size: 18px;
  font-family: 'Amatic SC', cursive;
}

.fa-google{
  color: #E9BED8;

}

small {
  font-family: 'Inconsolata', monospace;
  font-size: 10px;
}

.or {
  text-align: center;
  font-weight: bolder;
  font-family: 'Amatic SC', cursive;
  font-size: 16px;
}

.checkbox-label {
  font-size: 14px;
  color: gray;
  font-family: 'Amatic SC', cursive;
}


h1 {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

h2 {
  padding-top: 20px;

  text-align: center;
  font-style: italic;
  font-size: 18px;
  font-weight: 800;
  font-family: 'Amatic SC', cursive;
}

.btn {
  background: transparent;
}

.buttonHolder{ 
  text-align: center; 
}

#more {
  margin-left: 25px;
  border-width: 2px;
  font-size: 20px;
}

.fa-heart{
    color: #C75782;
}

.fa-share {
  color: #321129;
}
.fa-star {
  color: #ffcc66;
}

#topnav {
  color:#484848;
}

.fa-yelp{
  color: red;
}

.fa-star-half{
  color: #ffcc66;
}

#loc {
  color: #ff4d4d;
  padding-right: 4px;
}

.heart {
  padding-left: 0px;
  padding-right: 0px;


}

.trash {
  color: #0E1F2A;
}

.wishtext {
  font-style: italic;
  height: 170px;
  display: flex;

  font-family: 'Inconsolata', monospace;
}

.nav-tabs {
  border-color: black;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover{
  background: transparent;
  border-top-color: black;
  border-right-color:  black;
  border-left-color: black;
  border-bottom-color: #FBF4F4;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}

.wtext {
  align-self: center;
  font-size: 13px;
  flex: auto;
}

#bigger {
  font-size: 15px;
  font-weight: bold;
}



#food-location {
  padding-top: 15px;
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
}

.wish {
  height: 160px;
  width: 115px;
  border-radius: 4px;
}

.wishfood {
  height: 130px;
  width: 170px;
  border-radius: 4px;

}

#title {
  font-size: 16px;
  font-family: 'Inconsolata', monospace; 
  text-align: left;

}

.font {
  font-family: 'Inconsolata', monospace;
}



.movie {
  width: 300px;
  height: 400px;
  border-radius: 8px;
  align-items: center;
}

.nav-item {
  padding-top: 10px;
}



.fa-user {
  color: #132439;
}

.fa-envelope {
  color: #132439;
}

.fa-unlock-alt{
  color: #132439;

}

.top {
    margin-left: 30px;
    margin-right: 0px;
    max-width: 1290px;
}

.plotbox {
    position: relative;
}


.plotbox:hover .overlay {
  opacity: 0.8;
}

.text {
  color: black;
  font-weight: bold;
  font-size: 13px;
  width: 300px;
  height: 400px;
  text-align: center;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-style: italic;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 400px;
  width: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  font-weight: 800;
}


#food-img {
  height: 200px;
  width: 300px;
  border-radius: 8px;
}



.tab-content {
  padding-top: 35px;
  
}

.wishtitle {
  font-size: 20px;
  font-family: 'Amatic SC', cursive;

}


.chart-container {
  width:600px;
  height:600px;
  margin-left: 50px;
}

.charts-container{
  padding-top: 40px;

}

.wishrow {
  margin-bottom: 35px;
}

.stats {
  text-align: center;
  font-weight: bolder;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
}

h5 {
  font-size: 25px;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

.topform {
  display: inline-block;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}

.h1 {
  font-size: 45px;
  font-weight: bold;
}

.topdiv {
  display: block;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 30px;
}

