<!doctype html>
<html>
<head>
  <title>What do I want</title>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.11/css/all.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel = "stylesheet" href="/static/site.css">
<script src="http://code.jquery.com/jquery.js"></script>

</head>

<body>  
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container top">
      <a class="navbar-brand  mr-auto" href="/"><i class="fas fa-film"></i>Whatiwant</a>
        <ul class="navbar-nav navbar-right">
          {% if session.get('user') != None %}
           <li class="nav-item">
              <a class="nav-link" href="/my_account"><i class="fal fa-user-alt"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/wishlist"><i class="fas fa-heart top"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">LogOut</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" id="login-Pop" href="/login">LogIn</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="signup-Pop" href="/register">SignUp</a>
            </li>
        </ul>  
          {% endif %}

    </div>
  </nav>



 

  <div class="container">

  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning" id="flashMessage">{{ message }}</div>
      {% endfor %}
  {% endwith %}

</div>

  {% block content %} put your content here {% endblock %}



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="/static/popups.js"></script>
</body>
</html>
