{% extends 'base.html' %}
{% block content %}


<!-- <p><a href="/movies">View all movies</a></p>
 -->

<br>

{% if session.get('user') == None %}
  <div>
    <h1 id="#main">What do I want</h1><br>
    <button class="open-button" onclick="openForm()">Log In here</button>
    <p>To register click <a href="/register">here</a></p>
</div>

  <div id="overlay" onclick="off()">
    <div class="popup" id="#login_popup">
        <form action = '/login'>
            <h2> LogIn </h2>
            Email/Username <input type="text" placeholder="Enter your email or username" name="email"><br>
            Password <input type="text" placeholder="Enter your password" name="password"><br>
            <input type="Submit" class="btn" value="Log In"> 
        </form>     
    </div>
  </div>
{% endif %}

<script src="/static/popups.js"></script>

{% endblock %}