<div class="container" id="food-container">
  <div class="row" id="movie-row">
    {% for food in foods %}
    <div class="col">
        <div class="col-sm">
            <p><b id="title"> {{ food['name']}}</b> <br>
            ({{food['categories'][0]['title']}})</p>


            <b id="price">Price:</b> {{ food.get('price', 'Mystery price')}}
            <div class="ratings">
                {% if 'rating' not in food %}
                Unfortunately no ratings yet
                {% elif food['rating'] == 1.0 %}
                <b>Rating:</b> <i class="fas fa-star"></i>
                {% elif food['rating'] == 1.5%}
                <b>Rating:</b> <i class="fas fa-star"></i><i class="fas fa-star-half"></i>
                {% elif food['rating'] == 2.0%}
                <b>Rating:</b> <i class="fas fa-star"></i><i class="fas fa-star"></i>
                {% elif food['rating'] == 2.5%}
                <b>Rating:</b> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i>
                {% elif food['rating'] == 3.0%}
                <b>Rating:</b> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                {% elif food['rating'] == 3.5%}
                <b>Rating:</b> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i>
                {% elif food['rating'] == 4.0%}
                <b>Rating:</b> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                {% elif food['rating'] == 4.5%}
                <b>Rating:</b> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i>
                {% elif food['rating'] == 5.0%}
                <b>Rating:</b> <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                {% endif %}
                <p>This place has <b>{{ food['review_count']}}</b> reviews on Yelp <i class="fab fa-yelp"></i></p>
            </div>
            <img class = "img-fluid" id="food-img" src="{{food['image_url']}}"><br>
            <div id="food-location"><i class="fas fa-map-marker-alt" id="loc"> </i>
                <address>{{food['location']['display_address'][0] + " " + food['location']['display_address'][1]}}</address></div>
            <br>
            <button class="btn heart"><i class="far fa-heart fa-2x" id="heart{{food['id']}}" data-movieID="{{food['id']}}"></i></button>
            <a href="mailto:friend@example.com?Subject=Check%20this%20out&body=How%20about%20this%20place%20for%20our%20next%20nighout%20-%20{{ food['name']}}?%20Here's%20link%20on%20yelp%20-%20{{ food['url']}}" target="_top">
                <button class="btn"><i class="fas fa-share fa-2x" id="share{{food['id']}}" data-movieID="{{food['id']}}"></i></button>
            </a>
        </div>
    </div>
        {% endfor %}
   </div>
</div>


<script src="/static/wishlist.js"></script>
<script src="/static/more.js"></script>
<script src="/static/googlelink.js"></script>