{% extends 'base.html' %}
{% block content %}


<h1>My Account</h1><br>


<div class="container">


    <form id="updateForm" method="POST">
      <div class="form-group">
        <div class="col-4">
            <label for="exampleInputEmail1">Your username</label>
            <input type="username" class="form-control" id="update-username" name="username" value={{user.username}}>
        </div>
      </div>
      <div class="form-group">
        <div class="col-4">
            <label>Your email address</label>
            <input type="emails" class="form-control" id="update-email"  name="email" value={{user.email}}>
            <small id="emailHelp" class="form-text text-muted">for eva eva</small>
        </div>
      </div>
        <button type="submit" class="btn btn-outline-dark" id="update">Update</button>
    </form>
    {% if not session["access_token"] %}
    <form id="psw-update" method="POST">
      <div class="form-group">
        <div class="col-4">
            <label for="exampleInputPassword1">Your current password</label>
            <input type="password" class="form-control" id="current-pswd" placeholder="Current password">
            <small id="pswHelp" class="form-text text-muted">I hope you remember this one</small>

        </div>
      </div>
      <div class="form-group">
        <div class="col-4">
            <label for="exampleInputPassword1">Your new password</label>
            <input type="password" class="form-control" id="newPassword" placeholder="New password">
            <small id="pswHelp" class="form-text text-muted">Must be 3-4 charachters long</small>

        </div>
      </div>
      <div class="form-group">
        <div class="col-4">
            <label for="exampleInputPassword1">Confirm new password</label>
            <input type="password" class="form-control" id="confPassword" placeholder="Confirm password">
            <small id="confpswHelp" class="form-text text-muted">Please remember it this time ok?</small>

        </div>
      </div>
      
      <button type="submit" class="btn btn-outline-dark" id="pswupdate">Update password</button>
    </form>
    {% endif %}
</div>


<div class="charts-container">
    <div class="row">
        <div class="col">
            <p class="stats"> Movie statistics</p>

            <div class="chart-container">
                <div class="movie-chart">
                    <canvas id="donutChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col">
            <p class="stats"> Food statistics</p>

            <div class="chart-container">
                <div class="food-chart">
                    <canvas id="foodChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/static/my_charts.js"></script>
<script src="/static/food_chart.js"></script>
<script src="/static/update_info.js"></script>






{% endblock %}