{% extends 'base.html' %}
{% block content %}

<h1>Pick food place</h1><br>


<form action = "/foods" class= "pick" id="random">
    <div class="buttonHolder">
    <input type="submit" class="btn btn-outline-dark" value="Surprise me!"> <br>
    <input type="text" name="type" value= "random" hidden>
</div>
</form>
<br>
<h2> More advanced search </h2><br>
<form action = "/foods" class= "pick" id="search">
    <input type="text" name="type" value= "search" hidden>

    Select cuisine: <select name="cuisine" class = "form-control selcls">
        <option selected disabled>Choose cuisine</option>
        <option value="Mediterranean">Mediterranean</option>
        <option value="Chinese">Chinese</option>
        <option value="Italian">Italian</option>
        <option value="French">French</option>
        <option value="American">American</option></select><br><br>
    Select price group: <select name="price" class = "form-control selcls">
        <option selected disabled>Choose price group</option>
        <option value="3,4">$$$ - $$$$</option>
        <option value="2,3">$$ - $$$</option>
        <option value="1,2">$ - $$</option>
        <!-- <option value="1">$</option> -->
    </select><br><br>
    <div class="buttonHolder">
    <input type="submit" class="btn btn-outline-dark" value="Give me the best options"> <br></div>
    
</form>

{% endblock %}