<!-- {% extends 'base.html' %}
{% block content %}

<h1>SignUp Page</h1>

<br>
<form action = '/user_added' id="signup">
    Enter your username:* <br><input type="text" name="username" id='username' placeholder="Your username" required><br><br>
    Enter your email:* <br><input type="text" name="email" placeholder="Your email" required><br><br>
    Enter your password:* <br><input type="password" name="password" id="password" placeholder="Your password" required>
    <input type="checkbox" id="pwcheck" />Show Password
    <br><br>
    Confirm your password:* <br><input type="password" name="confirm_password" id ="confirm" placeholder="Confirm your password" required>
    <input type="checkbox" id="confcheck" />Show Password
    <br><br>
    <input type="submit" value="SignUp"><br>
<form>
 <script src="/static/signup.js"></script>

{% endblock %} -->