{% extends 'base.html' %}
{% block content %}


<h1>My wishlist</h1><br>
<div class="container"> 
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Movies</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Foods</a>
      </li> 
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        {% if liked_movies != [] %}

            {% for movie in liked_movies%}
                <div class="row-tab">
                  <div class="row wishrow h-100 justify-content-center align-items-center">
                    <div class="col-3 text-center">
                        <p class="wishtitle"> {{ movie.title}} </p>
                        <img class = "img-fluid wish" src="{{movie.poster}}">
                    </div>
                    <div class="col-7 text-center wishtext">
                        <div class="wtext">
                            {{ movie.plot}} 
                        </div>
                    </div>
                    <div class="col-2 text-center">
                        <button class="btn remove" id="mremove" data-movID="mov{{movie.movie_id}}"><i class="fas fa-trash-alt trash fa-3x"></i></button>
                        <!-- <input type="text" name="type" value= "movie" hidden> -->

                    </div> 
                  </div>     
                </div>
                {% endfor %}
        {% else %}
            <p>Your movies wishlist is empty</p>
                {% endif %}
        
      </div>
      <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        {% if liked_foods != [] %}

            {% for food in liked_foods %}
                <div class="row-tab">
                  <div class="row wishrow h-100 justify-content-center align-items-center">  
                    <div class="col-3 text-center">
                        <p class="wishtitle"> {{ food.name}} 
                        </p>
                        <img class = "img-fluid wishfood" src="{{food.image_url}}">
                    </div>
                    <div class="col-7 text-center wishtext">
                        <div class="ftext">
                            <address id="location"> {{ food.address}}</address><br>
                            <b id="price">{{ food.price }}</b> <br>
                            {{ food.term }}
                        </div>
                    </div>
                    <div class="col-2 text-center">
                         <button class="btn remove" id="fremove" data-movID="foo{{food.food_id}}"><i class="fas fa-trash-alt trash fa-3x"></i>
                        </button>
                    </div>
                       

                    </div>
                  </div>
            {% endfor %}
        {% else %}
            <p>Your food wishlist is empty</p>
            {% endif %} 
      </div>
    </div>
</div>




<script src="/static/remove.js"></script>



{% endblock %}
