{% extends 'base.html' %}
{% block content %}


<h1>Your wishlist</h1><br>


<div class="container">
{% if wish_list != [] %}

{% for movie in wish_list %}
  <div class="row">
    <div class="col">
        <p> {{ movie.title}} </p>
    </div>
    <div class="col">
        <img class = "img-fluid" src="{{movie.poster}}">
    </div>
    <div class="col">
        <p> {{ movie.plot}} </p></div>
        <button class="btn">Remove from wishlist</button>
    </div>
   </div>
{% endfor %}
{% else %}
 <p>Your wishlist is empty</p>
 {% endif %}


</div>


{% endblock %}