{% extends 'base.html' %}
{% block content %}


<h1>My wishlist</h1><br>



<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#menu1">Your movies</a></li>
    <li><a data-toggle="tab" href="#menu2">Your foods</a></li>
</ul>

<div class="tab-content">
    <div id="movs" class="tab-pane fade in active">
      <h3>Here's your favorites movies so far</h3>
      <div class="container">
        {% if liked_movies != [] %}

        {% for movie in liked_movies %}
        <div class="row">
            <div class="col">
            <p> {{ movie.title}} </p>
            </div>
        {% endfor %}
        {% for movie in liked_movies %}
        <div class="col">
            <img class = "img-fluid wish" src="{{movie.poster}}">
        </div>
        {% endfor %}
        {% for movie in liked_movies %}
        <div class="col">
            <p> {{ movie.plot}} </p></div>
        {% endfor %}
        {% for movie in liked_movies %}
            <button class="btn remove" id="remove" data-movID="{{movie.movie_id}}">Remove from wishlist</button>
        </div>
      </div>
        {% endfor %}
        {% else %}
            <p>Your wishlist is empty</p>
        {% endif %}
    </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Here's your favorites movies so far</h3>
      <div class="container">
        {% if liked_foods != [] %}

        {% for food in liked_foods %}
            <div class="row">
            <div class="col">
                <p> {{ food.name}} </p>
            </div>
        {% endfor %}
        {% for food in liked_foods %}
            <div class="col">
            <img class = "img-fluid wish" src="{{food.image_url}}">
            </div>
        {% endfor %}
        {% for food in liked_foods %}
            <div class="col">
                <p> {{ food.address}} </p></div>
        {% endfor %}
        {% for food in liked_foods %}
            <button class="btn remove" id="remove" data-movID="{{food.food_id}}">Remove from wishlist</button>
        </div>
        </div>
        {% endfor %}
        {% else %}
            <p>Your wishlist is empty</p>
        {% endif %} 
    </div>

    </div>
    



<!-- </div> -->

<script src="/static/remove.js"></script>



{% endblock %}