{% extends 'base.html' %}
{% block content %}

<h1>Your foods</h1>
<span>
    <button class="btn" id="more">More</button>
    <input type="text" value={{type}} id="type" hidden></span>


<br>

<div class="container" id="foods-container">
  <div class="row" id="food-row">
    {% for food in foods %}
    <div class="col">
        <p id="title"> {{ food['businesses'][0]['name']}} </p>

        <h3 id="price">Price level: {{ food['businesses'][0].get('price', 'Mystery price')}} </h3><br>
        <br>
        <div class="plotbox">
            <img class = "img-fluid" id="food-img" src="{{food['businesses'][0]['image_url']}}">
            <div class="overlay" >
            <div class="text" id="food-location">You can find it at: {{food['businesses'][0]['location']['display_address']}}</div>
            </div>
        </div>
        </div>
        <br>
        <button class="btn"><i class="far fa-heart" id="heart{{food['businesses'][0]['id']}}" data-movieID="{{food['businesses'][0]['id']}}"></i></button>
    </div>
        {% endfor %}
   </div>
</div>



<br>
<br>

<script src="/static/wishlist.js"></script>
<script src="/static/more.js"></script>

{% endblock %}