{% extends 'base.html' %}
{% block content %}

<span>
<h1>Your movies       
    <button class="btn btn-outline-dark" id="more">Show more</button></h1>
    <input type="text" value={{type}} id="type" hidden>
    <input type="text" value={{decade}} id="decade" hidden>
    <input type="text" value={{genre}} id="genre" hidden></span>



<br>

<div class="container" id="movie-container">
  <div class="row" id="movie-row">
    {% for movie in movies %}
    <div class="col">
        <p id="title"> {{ movie.title}} ({{ movie.released_at }})</p>
        
        <div class="plotbox">
            <img class = "float-center img-fluid movie" id="mov-img" src="{{movie.poster}}">
            <div class="overlay" >
                <div class="text" id="mov-plot">{{movie.plot}}</div>
            </div>
        </div>
        <br>
        <button class="btn"><i class="far fa-heart fa-2px" id="heart{{movie.movie_id}}" data-movieID="{{movie.movie_id}}"></i></button>
    </div>
        {% endfor %}
   </div>
</div>



<br>
<br>

<script src="/static/wishlist.js"></script>
<script src="/static/more.js"></script>



{% endblock %}