{% extends 'base.html' %}
{% block content %}

<div class="topdiv topform">
    <a href="/pick_movie" id="back">Go back to select</a>
    <b class="h1">Your movies       
    <button class="btn btn-outline-dark" id="more">Show more</button></b> 
    <input type="text" value={{type}} id="type" hidden>
    <input type="text" value={{decade}} id="decade" hidden>
    <input type="text" value={{genre}} id="genre" hidden></div>



<br>

<div class="container" id="movie-container">
  <div class="row" id="movie-row">
    {% for movie in movies %}
    <div class="col">
        <p class="mtitle" id="title"> {{ movie.title}} ({{ movie.released_at }})</p>
        
        <div class="plotbox">
            <img class = "float-center img-fluid movie" id="mov-img" src="{{movie.poster}}">
            <div class="overlay" >
                <div class="text font" id="mov-plot">{{movie.plot}}</div>
            </div>
        </div>
        <br>
        <button class="btn heart"><i class="far fa-heart fa-2x" id="heart{{movie.movie_id}}" data-movieID="{{movie.movie_id}}"></i></button>
        <a href="mailto:someone@example.com?Subject=Check%20this%20out&body=Look%20what%20I%20found - {{ movie.title}}.%20Have%20you%20seen%20this%20movie?" target="_top"><button class="btn"><i class="fas fa-share fa-2x" id="share{{movie.movie_id}}" data-movieID="{{movie.movie_id}}"></i></button></a>
    </div>
        {% endfor %}
   </div>
</div>



<br>
<br>

<script src="/static/wishlist.js"></script>
<script src="/static/more.js"></script>



{% endblock %}